.infoWindow ul.checked{
	list-style-image: url('/dashboard/icons/checked.png');
}
.infoWindow ul.cross{
	list-style-image: url('/dashboard/icons/cross.png');
}
.gm-style-iw > div{
	overflow:hidden !important;
}

div.tableCluster{
	max-height:608px;
	overflow-x: hidden;
	overflow-y:scroll;
}